<%= link_to "Ask new favor", new_favor_path %>

<h1>my firends's lists</h1>
<% unless @favors.empty? %>
  <p>You should
    <ul>
      <% @favors.each do |favor| %>
        <li><%= favor.contents %> to <%= favor.friend %></li>
      <% end  %>
    </ul>
  </p>
<% end %>
